        

<!DOCTYPE html>

<head>
       
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="{{site.url}}css/styles.css"> 
<link rel="stylesheet" href="{{site.url}}js/parallax.js">     
<link href="https://get.gridsetapp.com/31515/" rel="stylesheet" />   
<script src="//use.typekit.net/jdd3nyb.js"></script>
<script>try{Typekit.load();}catch(e){}</script>


</head>
    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

  <body>
         
  <!--    <div class="wrapper">
    
      <div class="section da-show da-showgrid">  -->

          <div class="main-nav">  
               <h1 class="logo"> Paper & Ink  </h1>     

                        <nav class="nav"> 
                                        
                            <ul>
                                <li><a href="{{site.url}}/about">Service</a></li>
                                <li><a href="#">Work</a></li>
                                <li><a href="{{site.url}}/service">About</a></li>
                                <li><a href="#">Contact</a></li>            
                            </ul>

                        </nav>
           </div>
             

          

